<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>FM GUI Application configuration settings</comment>
	<entry key="app.ui.plugin">com.intel.stl.ui.main.FabricPlugin</entry>
	<entry key="db.persistence.provider.name">hibernate</entry>
    <entry key="db.database.provider.name">hsqldb</entry>
	<entry key="db.name">fmguidb</entry>
    <entry key="db.hsqldb.hsqldb.default_table_type">cached</entry>
    <entry key="db.hsqldb.hsqldb.result_max_memory_rows">1000</entry>
    <entry key="db.hsqldb.hsqldb.log_size">50</entry>
	<!-- Test plug in
	<entry key="app.ui.plugin">com.intel.stl.main.DefaultGuiPlugin</entry>
	-->
	<!-- Force creation of database
	<entry key="db.hibernate.hbm2ddl.auto">create</entry>
	-->
    <entry key="app.adapter.usenew">true</entry>
	<entry key="app.db.subnet">true</entry>
	<entry key="app.db.subnet.include_inactive">false</entry>
</properties>