Source: fmgui
Maintainer: Scibian Project <packaging@scibian.org>
Section: java
Priority: extra
Standards-Version: 3.9.8
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/fmgui.git
Vcs-Browser: https://github.com/scibian/fmgui
Build-Depends: ant (>= 1.9),
               debhelper (>= 10),
               openjdk-8-jdk,

Package: fmgui
Architecture: all
Depends: libgnome-2-0,
         libgnome2-bin,
         openjdk-8-jdk,
         ${misc:Depends},
Description: Fabric Manager Graphical User Interface
 FMGUI is the Fabric Manager Graphical User Interface.  It
 can be run by invoking the Bash script fmgui.
